<div class="emoji-contianer">
  <div class="emoji">

    <div class="emoji-item" style="background: url('assets/images/emoji/1.svg')" data-id="1.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/2.svg')" data-id="2.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/3.svg')" data-id="3.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/4.svg')" data-id="4.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/5.svg')" data-id="5.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/6.svg')" data-id="6.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/7.svg')" data-id="7.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/8.svg')" data-id="8.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/9.svg')" data-id="9.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/10.svg')" data-id="10.svg"></div>

    <div class="emoji-item" style="background: url('assets/images/emoji/11.svg')" data-id="11.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/12.svg')" data-id="12.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/13.svg')" data-id="13.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/14.svg')" data-id="14.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/15.svg')" data-id="15.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/16.svg')" data-id="16.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/17.svg')" data-id="17.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/18.svg')" data-id="18.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/19.svg')" data-id="19.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/20.svg')" data-id="20.svg"></div>

    <div class="emoji-item" style="background: url('assets/images/emoji/21.svg')" data-id="21.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/22.svg')" data-id="22.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/23.svg')" data-id="23.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/24.svg')" data-id="24.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/25.svg')" data-id="25.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/26.svg')" data-id="26.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/27.svg')" data-id="27.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/28.svg')" data-id="28.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/29.svg')" data-id="29.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/30.svg')" data-id="30.svg"></div>


    <div class="emoji-item" style="background: url('assets/images/emoji/31.svg')" data-id="31.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/32.svg')" data-id="32.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/33.svg')" data-id="33.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/34.svg')" data-id="34.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/35.svg')" data-id="35.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/36.svg')" data-id="36.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/37.svg')" data-id="37.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/38.svg')" data-id="38.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/39.svg')" data-id="39.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/40.svg')" data-id="40.svg"></div>

    <div class="emoji-item" style="background: url('assets/images/emoji/41.svg')" data-id="41.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/42.svg')" data-id="42.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/43.svg')" data-id="43.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/44.svg')" data-id="44.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/45.svg')" data-id="45.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/46.svg')" data-id="46.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/47.svg')" data-id="47.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/48.svg')" data-id="48.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/49.svg')" data-id="49.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/50.svg')" data-id="50.svg"></div>


    <div class="emoji-item" style="background: url('assets/images/emoji/51.svg')" data-id="51.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/52.svg')" data-id="52.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/53.svg')" data-id="53.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/54.svg')" data-id="54.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/55.svg')" data-id="55.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/56.svg')" data-id="56.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/57.svg')" data-id="57.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/58.svg')" data-id="58.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/59.svg')" data-id="59.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/60.svg')" data-id="60.svg"></div>


    <div class="emoji-item" style="background: url('assets/images/emoji/61.svg')" data-id="61.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/62.svg')" data-id="62.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/63.svg')" data-id="63.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/64.svg')" data-id="64.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/65.svg')" data-id="65.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/66.svg')" data-id="66.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/67.svg')" data-id="67.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/68.svg')" data-id="68.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/69.svg')" data-id="69.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/70.svg')" data-id="70.svg"></div>

    
    <div class="emoji-item" style="background: url('assets/images/emoji/71.svg')" data-id="71.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/72.svg')" data-id="72.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/73.svg')" data-id="73.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/74.svg')" data-id="74.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/75.svg')" data-id="75.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/76.svg')" data-id="76.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/77.svg')" data-id="77.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/78.svg')" data-id="78.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/79.svg')" data-id="79.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/80.svg')" data-id="80.svg"></div>


    <div class="emoji-item" style="background: url('assets/images/emoji/81.svg')" data-id="81.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/82.svg')" data-id="82.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/83.svg')" data-id="83.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/84.svg')" data-id="84.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/85.svg')" data-id="85.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/86.svg')" data-id="86.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/87.svg')" data-id="87.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/88.svg')" data-id="88.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/89.svg')" data-id="89.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/90.svg')" data-id="90.svg"></div>

    <div class="emoji-item" style="background: url('assets/images/emoji/91.svg')" data-id="91.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/92.svg')" data-id="92.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/93.svg')" data-id="93.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/94.svg')" data-id="94.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/95.svg')" data-id="95.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/96.svg')" data-id="96.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/97.svg')" data-id="97.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/98.svg')" data-id="98.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/99.svg')" data-id="99.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/100.svg')" data-id="100.svg"></div>


    <div class="emoji-item" style="background: url('assets/images/emoji/110.svg')" data-id="110.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/111.svg')" data-id="111.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/112.svg')" data-id="112.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/113.svg')" data-id="113.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/114.svg')" data-id="114.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/115.svg')" data-id="115.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/116.svg')" data-id="116.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/117.svg')" data-id="117.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/118.svg')" data-id="118.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/119.svg')" data-id="119.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/120.svg')" data-id="120.svg"></div>


    <div class="emoji-item" style="background: url('assets/images/emoji/121.svg')" data-id="121.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/122.svg')" data-id="122.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/123.svg')" data-id="123.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/124.svg')" data-id="124.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/125.svg')" data-id="125.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/126.svg')" data-id="126.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/127.svg')" data-id="127.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/128.svg')" data-id="128.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/129.svg')" data-id="129.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/130.svg')" data-id="130.svg"></div>


    <div class="emoji-item" style="background: url('assets/images/emoji/131.svg')" data-id="131.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/132.svg')" data-id="132.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/133.svg')" data-id="133.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/134.svg')" data-id="134.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/135.svg')" data-id="135.svg"></div>
    <div class="emoji-item" style="background: url('assets/images/emoji/136.svg')" data-id="136.svg"></div>

  </div>
</div>