@keyframes fuzzy {
    0% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-20deg);
    }
}


.request {
    width: 95%;
    background: gray;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    position: relative;
    box-shadow: -5px 4px 14px 0px rgba(0, 0, 0, 0.75);

    h3,
    h6,
    p {
        border-bottom: 1px solid #fff;
    }

    .accept,
    .reject {
        border-radius: 4px;
        border: 1px solid #fff;
        background-color: transparent;
        color: #fff;
        margin: 5px;
        margin-top: 10px;
        text-align: center;
        width: 100px;
        height: 40px;
        transition: 0.3s ease-in;
        transition-property: color, background-color;
    }

    .accept {
        &:hover {
            background-color: rgb(66, 238, 14);
        }

        &:focus {
            background-color: rgb(66, 238, 14);
        }
    }

    .reject {
        &:hover {
            background-color: rgb(238, 14, 14);
        }

        &:focus {
            background-color: rgb(238, 14, 14);
        }
    }

}